RewriteEngine On
RewriteCond %{HTTP_HOST} ([a-z0-9]){1,7}.labs.coop$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^v2/url.api					index.php?action=url	 	[L,NC,QSA]
RewriteRule ^style.css					style.css		 	[L,NC,QSA]
RewriteRule ^(.*?){2,128}                               index.php?action=jump&item=$1    [L,NC,QSA]


RewriteEngine On
RewriteCond %{HTTP_HOST} ^(.*?){2,128}.([a-z0-9]){1,7}.labs.coop$
RewriteRule .*  index.php?action=jump&subdomain=1        [L,NC,QSA]

