
RewriteEngine On
RewriteCond %{HTTP_HOST} ([a-z0-9]){1,9}.(localhost|snails.email)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^assets/(css|images|jquery|media)/(.*?).(.*?)			./assets/$1/$2.$3			[L,NC,QSA]
RewriteRule ^assets/(css|images|jquery|media)/(.*?)/(.*?).(.*?)			./assets/$1/$2/$3.$4			[L,NC,QSA]
RewriteRule ^assets/(css|images|jquery|media)/(.*?)/(.*?)/(.*?).(.*?)		./assets/$1/$2/$3/$4.$5			[L,NC,QSA]
RewriteRule ^v2/url.api								./index.php?action=url			[L,NC,QSA]
RewriteRule ^/(.*?){2,128}							./index.php?action=jump&item=$1		[L,NC,QSA]

RewriteEngine On
RewriteCond %{HTTP_HOST} ^(.*?){2,128}.([a-z0-9]){1,9}.(localhost|snails.email)$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .*  								./index.php?action=jump&subdomain=1	[L,NC,QSA]

